<div class="container">
    <div class="services-image">
      <div class="content-wraper">
        <div class="content">
  
          <p class="title-text">
            {{title}}
          </p>
        </div>
      </div>
    </div>
  
    <div class="row no-margin">
      <div class="col-2 side-tab">
        <div class="list-group" id="list-tab" role="tablist">
          <a class="list-group-item list-group-item-action active" id="list-services-list" data-toggle="list" href="#list-services"
            role="tab" aria-controls="home">Services</a>
          <a class="list-group-item list-group-item-action" id="list-air-list" data-toggle="list" href="#list-air" role="tab" aria-controls="profile">Air</a>
          <a class="list-group-item list-group-item-action" id="list-ground-list" data-toggle="list" href="#list-ground" role="tab"
            aria-controls="messages">Ground</a>
          <a class="list-group-item list-group-item-action" id="list-sea-list" data-toggle="list" href="#list-sea" role="tab" aria-controls="settings">Sea</a>
        </div>
  
      </div>
      <div class="col-10 description">
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="list-services" role="tabpanel" aria-labelledby="list-home-list">
            <h2 class="section-title">What We Do</h2>
            <p style="margin-bottom: 5rem;">Simply dummy text for filling the content to make it look good. Simply dummy text for filling the content to make it look good.
            </p>
            <div class="row " style="margin-bottom: 2rem;">
              <div class="col">
                <div class="img-wrap">
                  <img src="../../assets/images/air.jpg" alt="service-img">
                </div>
                <p class="serv-title">Air Delivery</p>
                <div class="body-text">
                  Simply dummy text for filling the content to make it look good. Simply dummy text for filling the content to make it look good.
                </div>
  
              </div>
              <div class="col">
                <div class="img-wrap">
                  <img src="../../assets/images/ground.png" alt="service-img">
                </div>
                <p class="serv-title">Ground Shipping</p>
                <div class="body-text">
                  Simply dummy text for filling the content to make it look good. Simply dummy text for filling the content to make it look good. </div>
              </div>
  
              <div class="col">
                <div class="img-wrap">
                  <img src="../../assets/images/ship.png" alt="service-img">
                </div>
                <p class="serv-title">Sea Delivery</p>
                <div class="body-text">
                  Simply dummy text for filling the content to make it look good. Simply dummy text for filling the content to make it look good. </div>
              </div>
  
            </div>
          </div>
  
          <div class="tab-pane fade" id="list-air" role="tabpanel" aria-labelledby="list-air-list">
              <div class="col">
                  
                  <p class="serv-title">Air Delivery</p>
                  <div class="body-text">
                    Simply dummy text for filling the content to make it look good. Simply dummy text for filling the content to make it look good.
                  </div>
    
                </div>
          </div>
          <div class="tab-pane fade" id="list-ground" role="tabpanel" aria-labelledby="list-ground-list">
              <div class="col">
                
                  <p class="serv-title">Ground Shipping</p>
                  <div class="body-text">
                    Simply dummy text for filling the content to make it look good. Simply dummy text for filling the content to make it look good.</div>
                </div>
          </div>
          <div class="tab-pane fade" id="list-sea" role="tabpanel" aria-labelledby="list-sea-list">
              <div class="col">
                 
                  <p class="serv-title">Sea Delivery</p>
                  <div class="body-text">
                    Simply dummy text for filling the content to make it look good. Simply dummy text for filling the content to make it look good.</div>
                </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  